header {
    text-align: center;
}

body {
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
}
#texte {
    margin-left: 0;
}
.col-xs-12 {
    margin: 0;
  }
header .container {

    padding: 0;
}

input {
    width: 7em;
}

main {
    margin-top: 5em;
    background: url("../img/Ladder-to-Heaven.jpg") cover;
}

img {
    width: 100%;
}

#pq {
    width: 50%;
    margin: auto;
}

#imgrecap {
    width: 25%;
}

h2 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    width: 100%;
    color: deeppink;
    font-size: 3.5em;
    text-shadow: 0px 2px 2px white;
}

p {
    text-align: justify;
    font-family: "Oswald", cursive;
    font-size: 1.2em;
    margin:0 0 3em;
    bottom: 0;
    padding: 0 2em;
}

footer span {
    margin: auto;
}

nav.navbar {
    background: linear-gradient(#7BCBF6, white);
    text-transform: uppercase;
    border: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    display: inline-block;
    float:none;
    margin-left: -2.5em;
    font-family: "Oswald";
    font-size: 1.5em;
}

.navbar-brand:hover {
    color: white;
}

.navbar-toggle {
    float: left;
}

.nav.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.nav.navbar-nav li {
    flex-grow: 1;
    width: 100%;
}

nav a {
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
}

nav span {
    color: white;
}

header h1 {
    font-family: "Oswald";
    display: none;}

* { box-sizing: border-box; }

.slider {
  justify-content: center;
}
.slide {
  height: auto;
  margin-right: 1em;
}

.carousel {
  background: #EEE;
}

fieldset {
    display: flex;
    background-color: whitesmoke;
    padding: 1em 2em;
    box-shadow: 0 0 10px lightgrey;
    border: 1px solid lightgrey;
    margin: auto;
}

input {
    width: 100%;
    border: 1px solid lightblue;
    font-size: 1.5em;
}

legend {
    font-size: 2em;
    background-color: lightblue;
    box-shadow: 0 0 10px lightblue;
    border: 1px solid lightblue;
}
label {
     font-size: 1.5em;
     flex-wrap: wrap;
}

button {
    margin-top: 1em;
}

.password-verdict {
    display: flex;
    margin-top: -1em;
}

.checkbox label {
    padding: 0;
}

.checkbox input[type="checkbox"] {
    margin-top: -1px;
}

.btn-danger {
    margin: 0;
    vertical-align: bottom;
    width: 17%;
}

#hidden {
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 2em;
}

@media (min-width: 768px) {
    nav.navbar {
        position: relative;
    }

    .navbar-brand {
        display: none;
    }

    .nav.navbar-nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }

    .nav.navbar-nav li {
        flex-grow: 0;
        width: auto;
    }

    header h1 {
        display: block;
        margin-bottom: 2em;
    }

    fieldset {
        width: 43%;
    }

    .checkbox input[type="checkbox"] {
        margin-left: -100px;
        margin-top: 7px;
    }
}
