header {
    text-align: center;
}

body {
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
}
#texte {
    margin-left: 0;
}
.col-xs-12 {
    margin: 0;
  }
header .container {

    padding: 0;
}

input {
    width: 7em;
}

main {
    margin-top: 4em;
    background: url("../img/Ladder-to-Heaven.jpg") cover;
}

img {
    width: 100%;
}

#pq {
    width: 50%;
    margin: auto;
}

#imgrecap {
    width: 25%;
}

h2 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    width: 100%;
    color: deeppink;
    font-size: 3.5em;
    text-shadow: 0px 2px 2px white;
}

p {
    text-align: justify;
    font-family: "Oswald", cursive;
    font-size: 1.2em;
    margin:0 0 3em;
    bottom: 0;
    padding: 0 2em;
}

footer span {
    margin: auto;
}

nav.navbar {
    background: linear-gradient(#7BCBF6, #519AD1);
    text-transform: uppercase;
    border: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    display: inline-block;
    float:none;
    margin-left: -2.5em;
    font-family: "Oswald";
    font-size: 1.5em;
}

.navbar-brand:hover {
    color: white;
}

.navbar-toggle {
    float: left;
}

.nav.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.nav.navbar-nav li {
    flex-grow: 1;
    width: 100%;
}

nav a {
    color: white;
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
}

nav span {
    color: white;
}

header h1 {
    font-family: "Oswald";
    display: none;}

* { box-sizing: border-box; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
